<div ng-controller="LoginController as loginCtrl" class="form-container">
    <h2>Sign In</h2>
    <form ng-submit="loginCtrl.login()">
        <input maxlength="30" pattern="[a-zA-Z0-9]+" autocomplete="on" type="text" ng-model="loginCtrl.username" placeholder="Username" required>
        <input pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,16}" type="password" ng-model="loginCtrl.password" placeholder="Password" required>
        <button class="button" type="submit">Login</button>
    </form>
    <p class="error-message" ng-if="loginCtrl.errorMessage">{{loginCtrl.errorMessage}}</p>
    <p>Don't have an account? <a ui-sref="register">Register</a></p>
</div>



