<div ng-controller="RegController as RegCtrl" class="form-container">
    <h2>Create Account</h2>
    <form ng-submit="RegCtrl.register()">
        <input type="text" pattern="[a-zA-Z]+" maxlength="20" ng-model="RegCtrl.fname" placeholder="Firstname" required>
        <input type="text" pattern="[a-zA-Z]+" maxlength="20" ng-model="RegCtrl.lname" placeholder="Lastname" required>
        <input type="text" pattern="[a-zA-Z]+" maxlength="20" ng-model="RegCtrl.username" placeholder="Username" required>
        <input type="email" ng-model="RegCtrl.email" placeholder="Email" required>
        <input pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,16}" type="password" ng-model="RegCtrl.pass1" placeholder="Password" required>
        <input pattern="(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,16}" type="password" ng-model="RegCtrl.pass2" placeholder="Confirm Password" required>
        <button class="button" type="submit">Register</button>
    </form>
    <p class="error-message" ng-if="RegCtrl.errorMessage">{{RegCtrl.errorMessage}}</p>
    <p>Already have an account? <a ui-sref="login">Login</a></p>
</div>

